{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <h2>Upload new world</h2>
    <p>World max size: 1024m</p>

    <p>
        <b>In zip archive must be world folder with the same name as zip archive</b>
    </p>

    <form action="{{ path('admin.world.upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">World folder ZIP</label>
            <input type="file" name="file" id="file" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>

    <hr>

    <h3>Backups</h3>
    <form action="{{ path('admin.world.backup') }}" method="POST">
        <button class="btn btn-primary" type="submit">Make backup</button>
    </form>

    <hr>

    <h3>Danger zone!</h3>

    <form action="{{ path('admin.world.regenerate') }}" method="POST" id="regenerate-form">
        <p>Current world will be removed and created new by properties settings.</p>
        <p><b>Make backup before you regenerate the world!</b></p>
        <button class="btn btn-danger" type="submit">Regenerate world</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $(document).on("submit", "#regenerate-form", function () {
            return confirm('Are you sure? Current world will be removed forever!');
        });
    </script>
{% endblock %}