{% extends 'layouts/admin.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Home</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Hello!</h1>
{% endblock %}