{% extends 'layouts/admin.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin.whitelist.index') }}">Whitelist</a></li>
        <li class="breadcrumb-item active"><a href="#">Add player</a></li>
    </ol>
{% endblock %}

{% block body %}
    <form action="{{ path('admin.whitelist.add.request') }}" method="POST">

        <div class="form-group">
            <label for="name"><b>Player name</b></label>
            <input type="text" name="name" id="name" class="form-control col-sm-6">
        </div>

        <div class="form-group">
            <label for="ignoresPlayerLimit"><b>Ignore player limits</b></label>
            <select name="ignores_player_limit" id="ignoresPlayerLimit" class="form-control col-sm-6">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>

        <p>
            Uuid will be generated automatically
        </p>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}